In [1]:
import pandas as pd 
import numpy as np

In [6]:
f = pd.read_csv("summer.csv")

In [8]:
#@title Cities in which olympics have been held so far
len(f['City'].unique())

22

In [9]:
#@title Sport having most gold medal award
for Medal in f['Medal'].unique():  
    print(Medal,":",len(f[f['Medal']=='Gold']))

Gold : 10486
Silver : 10486
Bronze : 10486

In [10]:
#@title Sport having most medals so far
data  =f.groupby(['Sport']).count()['Medal'].sort_values(ascending=False).head()
print(data)

Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Medal, dtype: int64

In [11]:
#@title Player having most number of medals
data=f.groupby(['Athlete']).count()['Medal'].sort_values(ascending=False).head()
print(data)

Athlete
PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
SHAKHLIN, Boris         13
Name: Medal, dtype: int64

In [12]:
#@title Player having most number of gold medals
df = f[f['Medal']=='Gold']
data=df.groupby(['Athlete']).count()['Medal'].sort_values(ascending=False).head()
print (data)

Athlete
PHELPS, Michael     18
NURMI, Paavo         9
SPITZ, Mark          9
LEWIS, Carl          9
LATYNINA, Larisa     9
Name: Medal, dtype: int64

In [13]:
#@title Year in which India won a gold medal
df = f[f['Medal']=='Gold']
df[f['Country']=='IND'].head(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

      Year       City   Sport Discipline  ... Country Gender   Event Medal
5512  1928  Amsterdam  Hockey     Hockey  ...     IND    Men  Hockey  Gold

[1 rows x 9 columns]

In [14]:
#@title Event which is popular in terms of players
data = f.groupby(['Event']).count()['Athlete'].sort_values(ascending=False).head()
print(data)

Event
Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Athlete, dtype: int64

In [16]:
#@title Sport having most number of female medalists
df2 = df[f['Gender']=='Women']
df1 = f[f['Medal']=='Gold']
data=df2.groupby(['Sport']).count()['Gender'].sort_values(ascending=False).head()
print(data)

Sport
Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Gender, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.